@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
	margin: 0;
	font-family: Anton;
	background-color:#ffcc00;
}

nav{
	background-color: darkblue;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav img{
	height: 70px;
	width: 140px;
	border-radius: 50%;
}

nav ul{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type:none;
}
nav ul li a{
	margin: 30px;
	padding:20px;
	text-decoration: none;
	color: #003399;
	background-color:#ffcc00;
	border-radius: 10px;
}

nav ul li a:hover{
	background-color: orange;
}