body{
	background-color: darkgrey;
	margin: 0px;
	font-family: "Calibri";
}
nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightgrey;
}
nav img{
	width: 160px;
	height:160px;
}
nav ul{
	display: flex;
	justify-content: center;
	list-style: none;
}
nav ul li{
color: white;
padding: 25px;
	border-radius: 50px;
	background-color: lightcoral;
	margin: 25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	margin: 20px;
	font-size: 25px;
}

nav ul li:hover{
	background-color: darkgrey;
}