p{
	margin: 30px;
	padding:80px;
	text-align: center;
	color: white;
}

.one{
	background-color: #b30300;
}
.two{
	background-color: rgb(217, 145, 0);
}
.three{
	background-color: rgb(247, 235, 0);
}
.four{
	background-color: #2fad0c;
}
.five{
	background-color: rgb(84, 50, 48);
}
.six{
	background-color: #232391;
}
.seven{
	background-color: rgb(39, 186, 142);
}
.eight{
	background-color: #2d2730;
}
.nine{
	background-color: rgb(0, 255, 4);
}
.ten{
	background-color: #d9b8c4;
}