/*
*
*Title: Online Shop
*Author: Sidrit Mucaj
*Date: 2022.05.04
*
*/

/*********************************General Styling***************************************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:ital,wght@0,300;1,300&family=Raleway:ital@1&family=Roboto+Serif&display=swap');


:root{
	scroll-behavior: smooth;
}


body{
	margin: 0;
	background: radial-gradient(circle, rgba(238,229,223,1) 0%, rgba(219,204,204,1) 100%);
}
/*Navigation*/
nav{
	background-color: #ffffff;
	display: flex; 
	justify-content: space-between;
	align-items: center;
	padding:30px;
	position: fixed;
	width: 98%;
	z-index: 50;
}

nav img{
	height: 80px;
	border-radius: 50%; 
}

nav ul{
	list-style: none; /*To remove the bullet points*/
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-family: "Roboto";
	color: #ffffff;
}

nav ul li a{
	margin: 10px;
	padding: 20px;
	background-color: #d5c5c5;
	color: #4b3d3d;
	border-radius: 15px;
	text-decoration: none; /*To remove the underline*/
	text-transform: uppercase;
}

nav ul li a:hover{
	background-color: #9a8d8d; /*I added a darker color to make it seem like the shadow of a button*/
	color:  #d5c5c5;
}

header{
	height: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	background-size: cover;
	border-radius:25px;
	font-size: 72px;
}

header h1{
	font-size: 30px;
	background-color: #af9797;
	padding: 20px;
	color: #ebded5;
	font-family: "Poppins";
	border-radius: 15px;
}

/*Main*/
main{
	padding: 150px;
}

main h2{
	font-size: 40px;
	color: white;
	font-family: "Roboto";
}
main ol{
	font-size: 20px;
	font-family: "Roboto";

}
main p{
	font-size: 30px;
	font-family: "Poppins";
}
/*Footer*/
footer{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 30px;
	background-color: #e8ded7;
	font-family: "Poppins";
	color: #e8ded7;
}
footer p{
	background-color: #b6a6a6;
	padding: 20px;
	border-radius: 15px;
}
/*******************************************Home Page Styling**************************************************/


#home header {
	background-image: url(backgroundimg.jpg);
}
#home main{
	background: radial-gradient(circle, rgba(167,155,147,1) 0%, rgba(115,99,99,1) 100%);
}


/******************************************About Page Styling**********************************************/


#contact header{
	background-image: url(aboutbackgroundimg.jpg);
}
#contact main {
	background: radial-gradient(circle, rgba(232,222,215,1) 0%, rgba(182,166,166,1) 100%);
	display: flex;
	padding: 200px;
	align-items: center;
	justify-content: center;
	font-family: "Poppins";
}
#contact main ul{
	color: white;
}

/******************************************Product Page Styling**********************************************/


#product header{
	background-image: url(productorangegradient.jpg);
	font-size: 72px;
}
#product main {
	background: linear-gradient(90deg, rgba(136,128,122,1) 0%, rgba(166,157,151,1) 49%, rgba(136,128,122,1) 97%);
	padding: 200px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;

}
#product main ul{
	color: white;
}
#product li {
	list-style: none;
	text-decoration: none;
	color: white;
}
#product article{
	width: 250px;
	height: 500px;
	border: 25px;
	border-radius: 5px;
	background-color: white;
	color: #6D5C5A;
	position: relative;
	z-index: 10;
	margin: 30px;
}
#product article .image {
	width: 300px;
	height: 200px;
	padding: 20px;
	background-position: center;
	background-size:cover;
	background-image: url(merch1.jpg);
}



#product article .text{
height: 250px;
width: 300px;
background-color: white;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: stretch;
flex-direction: column;
font-family: "Roboto";
}
#product article .text .header{
text-transform: uppercase;
}
#product article .text .footer{
display: flex;
justify-content: space-between;
align-items: center;
}

#product article .box{
position:absolute;
left: 0px;
top: 210px;
background-color:red;
color: white;
text-transform: uppercase;
padding: 6px;
}

#product article .price{
	color: black;
	font-size: 50px;
	font-family: "Poppins";
	margin: 50px;
}

#product article .image2 {
	width: 300px;
	height: 200px;
	padding: 20px;
	background-position: center;
	background-size:cover;
	background-image: url(merch2.jpg);
}


#product article .image3 {
	width: 300px;
	height: 200px;
	padding: 20px;
	background-position: center;
	background-size:cover;
	background-image: url(merch3.jpg);
}

#product article .image4 {
	width: 300px;
	height: 200px;
	padding: 20px;
	background-position: center;
	background-size:cover;
	background-image: url(merch4.jpg);
}

#product article .image5 {
	width: 300px;
	height: 200px;
	padding: 20px;
	background-position: center;
	background-size:cover;
	background-image: url(merch5.jpg);
}

#product article .image6 {
	width: 300px;
	height: 200px;
	padding: 20px;
	background-position: center;
	background-size:cover;
	background-image: url(merch6.jpg);
}