@import url('https://fonts.googleapis.com/css2?family=Average&family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Average&family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Average&family=PT+Mono&family=Yellowtail&display=swap');
body{
	background: radial-gradient(circle, rgba(255,237,182,1) 3%, rgba(225,199,121,1) 15%, rgba(199,166,67,1) 18%, rgba(29,29,91,1) 35%, rgba(20,25,45,1) 100%);
}
h1{
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	margin: 30px;
	background-color: #00061f;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	font-family: "Average";
	color: #fff2cb;
}
h2{
	font-size: 40px;
	text-align: right;
	margin: 30px;
	background-color: #1c2652;
	font-family: "Average";
	color: #fff2cb;

}
p{
	font-size: 30px;
	color: #fff2cb;
	line-height: 1.5;
	margin: 30px;
	column-count: 3;
	font-family: "Archivo Narrow"
}
.signature{
	font-size: 50px;
	font-family: Yellowtail;
	margin: 30px;
	color: #fff2cb;
}