:root {
	scroll-behavior: smooth;
}

body{
	background-color: orange
}

h1{
	background-color: darkred;
	color:yellow;
	padding: 30px;
	font-size: 50px;
}
h2{
	color: darkred
}
p{
	color: yellow;
	background-color: darkred;
	width: 1200px

}
#Hallo{
	background-color: green;
	color:lime;
	font-size: 80px;
}
ul{
	color: yellow;
	background-color: darkred;
	width: 1200px
}
img{
	width: 200px;
	height:300px;
}
