body{
	background-color: lightgreen
}
h1{
	text-align: center;
	color: red;
	background-color: white;
	padding: 20px;
}
div{
	height: 50px;
	width: 300px;
}
.red{
	background-color: red
}
.white{
	background-color: white
}
.green{
	background-color: green
}
img{
	width: 500px;
	height: 300px
}