/*Die Padding-Werte werden zu angegeben Breite hinzugezäh. 
Daher ergibt sich ein Wert von über 100%! 
nav,article und aside passen daher nicht nebeneinander.
box-siting:border-box ... Größenangaben unfassen das ganze Element 
(inkl. Magin, Padding, ...)*/
*{
	box-sizing: border-box;
	padding: 0;
	margin:0;
	/*Wörter,die über einen Container hinausragen, werden in der nachsten Zeile weitergeführt*/
	word-wrap: break-word;
} 

/*Design für Smartphones*/

header, nav, article, aside{
	width: 100%
}


header{
	background-color: #ababab;
	padding: 25px;
}
nav{
	background-color: #ff8a82;
	padding: 25px;
}
article{
	background-color: #fff982;
	padding: 25px;
}
aside{
	background-color: #82d1ff;
	padding: 25px;
}

/*Design für Desktop:
Trennlinie für Smartphones/Tablets und Desktop: 768px*/
@media (min-width: 768px){
	nav, aside{
		width: 25%;
		float: left;
	}
	article{
		width: 50%;
		float: left;
	}

	.container{
	width: 70%;
	margin: auto; /*richtet die Bereiche mittig aus.*/
}

}

